html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, Arial;
}

#topbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background: #111;
    color: #fff;
    font-size: 14px;
}

#map {
    height: calc(100% - 50px);
}
